<footer>
    <section class="block" id="C">
        <h2>Любимая цитата</h2>
        <blockquote>
            Настоящее <sup>определяется</sup> будущим и <sub>создает</sub> прошлое
        </blockquote>
    </section>
    
    <section class="block" id="Formula">
        <h2>Формула успеха</h2>
        <p><b>Еб*шь</b> на свою <strong>мечту</strong></p>
    </section>
    <div id="time">{{ time }}</div>
</footer>