<footer>
  <nav>
    <ul class="navigation">
      <li><a class="link footer-link" href="/">Начальная страница</a>
      <li><a class="link footer-link" href="main_page">К моим достижениям</a>
      <li><a class="link footer-link" href="grid_flex">Flex'ы и Grid'ы</a>
      <li><a class="link footer-link" href="to_do_list">Список дел</a>
      <li><a class="link footer-link" href="6_and_7">Список людей</a>
    </ul>
  </nav>
  <br />
  <br />
  <div class="page-loaded-text">Page load time is<div class="page-loaded-result"></div>Seconds</div>
</footer>