<header id="header">
  {{>login}}
  <div class="headInfo">
    <img class="avatar" id="avatar" onclick="changeImage()" src="img/1.JPG" alt="pic">
    <h1>
      Личный профиль
    </h1>
    <h2>
      Родин Андрей Игоревич
    </h2>
  </div>
</header>