<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Главная. Родин Андрей - М33041</title>
  {{> head}}
</head>

<body>
{{> header}}
<main>
  <div class="grid-container">
    <div class="grid-title"> Colors </div>
    <div class="grid-0">  </div>
    <div class="grid-red-1"> Red </div>
    <div class="grid-blue-1"> Blue </div>
    <div class="grid-green-1"> Green </div>
    <div class="grid-yellow-1"> Yellow </div>
    <div class="grid-red-2"> Red </div>
    <div class="grid-red-3"> Red </div>
    <div class="grid-purple-1"> Purple </div>
    <div class="grid-brown-1"> Brown </div>
    <div class="grid-orange-1"> Orange </div>
    <div class="grid-blue-2"> Blue </div>
    <div class="grid-purple-2"> Purple </div>
    <div class="grid-blue-3"> Blue </div>
    <div class="grid-turquoise-1"> Turquoise </div>
    <div class="grid-green-2"> Green </div>
    <div class="grid-green-3"> Green </div>
    <div class="grid-brown-2"> Brown </div>
    <div class="grid-turquoise-2"> Turquoise </div>
    <div class="grid-green-4"> Green </div>
    <div class="grid-olive-1"> Olive </div>
    <div class="grid-yellow-2"> Yellow </div>
    <div class="grid-orange-2"> Orange </div>
    <div class="grid-green-5"> Green </div>
    <div class="grid-olive-2"> Olive </div>
    <div class="grid-yellow-3"> Yellow </div>
  </div>
  <div class="section-gallery gallery">
    <div class="gallery-flex">
      <div class="gallery-item"><img src="https://picsum.photos/1920/1080" alt=""/></div>
      <div class="gallery-item"><img src="https://picsum.photos/1920/1081" alt=""/></div>
      <div class="gallery-item"><img src="https://picsum.photos/1920/1082" alt=""/></div>
      <div class="gallery-item"><img src="https://picsum.photos/1920/1083" alt=""/></div>
      <div class="gallery-item"><img src="https://picsum.photos/1920/1084" alt=""/></div>
      <div class="gallery-item"><img src="https://picsum.photos/1920/1085" alt=""/></div>
    </div>
  </div>
</main>
{{> footer}}
</body>