<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Главная. Родин Андрей - М33041</title>
    {{> head}}
</head>

<body>
    <div class="circle"></div>
    {{> header}}

    <main id="main">
      <section id="contacts">
        <ul>
          <script src="https://code.jquery.com/jquery-2.0.2.min.js"></script>
          <script>
            $(document).ready(function () {
              PopUpHide();
            });

            function PopUpShow() {
              $("#popup").show();
            }

            function PopUpHide() {
              $("#popup").hide();
            }
          </script>
          <div class="b-container">
            <li><b>Почта:</b> rodin_andrey2001@mail.com</li>
            <li><b>VK:</b> https://vk.com/skeletalhunter</li>
            <li><b>Телефон:</b> +7 (981) 680-66-70</li>
            <a class="link" href="javascript:PopUpShow()">Подробнее</a>
          </div>
          <div class="b-popup" id="popup" style="display: none;">
            <div class="b-popup-content">
              <b>Почта:</b> rodin_andrey2001@mail.com<br>
              <a class="link" href="https://vk.com/skeletalhunter"><strong>VK:</strong>
                https://vk.com/skeletalhunter</a><br>
              <b>Телефон:</b> +7 (981) 680-66-70<br>
              <button onclick="PopUpHide()">Закрыть окно</button>
            </div>
          </div>
        </ul>
      </section>
    </main>

    {{> footer}}
</body>
</html>