<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Конструктор. Плавко Михаил - М33122</title>
    {{> head}}

    <link rel="stylesheet" href="css/constructor.css">
    <script src="js/constructor.js"></script>

</head>
<body>
    <div class="app">
        {{> header}}
        <form id="settings">
            <h1>Настройки</h1>
    
            <div class="settings-wrapper">
                <div class="form-item">
                    <label>Max занятий в день</label>
                    <select name="amount-subjects">
                        {{#repeate 7}}
                        <option value="{{this}}">{{this}}</option>
                        {{/repeate}}
                    </select>
                </div>
    
                <div class="form-item">
                    <label>Всего дней в неделе</label>
                    <select name="amount-day">
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
    
            <input type="submit" value="Создать">
        </form>
    
        <div class="week">
            <div class="day">
    
            </div>
            
        </div>
    </div>
    {{> footer}}
</body>
</html> 